<nav class="navbar-default">
  <div class="container-fluid ">
    <a (click)="routeToHome()" class="navbar-brand">Sky</a>
    <div (window:resize)="collapsed = true" [class.collapse]="collapsed" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <form #searchForm="ngForm" (ngSubmit)="search(searchForm)" class="navbar-form navbar-left">
            <div class="form-group">
              <input class="form-control" name="search" ngModel placeholder="Search" type="text">
            </div>
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>
        </li>
        <li *ngIf="isAuth" routerLinkActive="activeMy">
          <a routerLink="/addOffer">Add Offer</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuth" routerLinkActive="activeMy">
          <a routerLink="/userDetails">{{userEmail}}</a>
        </li>
        <li *ngIf="isAuth" routerLinkActive="activeMy">
          <a routerLink="/messages">
            <span class="glyphicon glyphicon-envelope"></span>
          </a>
        </li>
        <li routerLinkActive="activeMy">
          <a routerLink="/home">Home</a>
        </li>
        <li *ngIf="isAuth" routerLinkActive="activeMy">
          <a routerLink="/myOffers">My Offers</a>
        </li>
        <li *ngIf="isAdmin" routerLinkActive="activeMy">
          <a routerLink="/userList">userList</a>
        </li>
        <li *ngIf="!isAuth" routerLinkActive="activeMy">
          <a routerLink="/auth">Login</a>
        </li>
        <li>
          <a (click)="logout()" *ngIf="isAuth" style="cursor: pointer">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
