<div class="row">
  <div class="col-xs-12">
    <a class="list-group-item clearfix" *ngFor="let offer of offers">
      <div class="pull-left">
        <h4 class="list-group-item-heading"> {{offer.name}}</h4>
        <p class="list-group-item-text">{{offer.description}}</p>
        <p class="list-group-item-text">{{offer.city}}</p>
        <p class="list-group-item-text">{{offer.country}}</p>
        <p class="list-group-item-text">{{offer.ownerEmail}}</p>
        <p class="list-group-item-text">{{offer.comment}}</p>
        <p class="list-group-item-text">{{offer.photoPath}}</p>
        <p class="list-group-item-text">{{offer.roomCapacity}}</p>
        <p class="list-group-item-text">{{offer.price}}</p>
      </div>
    </a>
  </div>
</div>
