<div *ngFor="let offer of offers; index as i">
  <div class="col-lg-3" *ngIf='i%4==0'>
    <div class="card center" (click)="goToDetails(offer)">
      <img class="card-img-top image" src={{offer.photoPath}} alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3" *ngIf='i%4==1'>
    <div class="card center" (click)="goToDetails(offer)">
      <img class="card-img-top image" src={{offer.photoPath}} alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3" *ngIf='i%4==2'>
    <div class="card center" (click)="goToDetails(offer)">
      <img class="card-img-top image" src={{offer.photoPath}} alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3" *ngIf='i%4==3'>
    <div class="card center" (click)="goToDetails(offer)">
      <img class="card-img-top image" src={{offer.photoPath}} alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
</div>
