<div *ngFor="let offer of offers; index as i">
  <div *ngIf='i%4==0' class="col-lg-3">
    <div (click)="goToDetails(offer)" class="card center">
      <img alt="Card image cap" class="card-img-top image" src={{offer.photoPath}}>
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
  <div *ngIf='i%4==1' class="col-lg-3">
    <div (click)="goToDetails(offer)" class="card center">
      <img alt="Card image cap" class="card-img-top image" src={{offer.photoPath}}>
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
  <div *ngIf='i%4==2' class="col-lg-3">
    <div (click)="goToDetails(offer)" class="card center">
      <img alt="Card image cap" class="card-img-top image" src={{offer.photoPath}}>
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
  <div *ngIf='i%4==3' class="col-lg-3">
    <div (click)="goToDetails(offer)" class="card center">
      <img alt="Card image cap" class="card-img-top image" src={{offer.photoPath}}>
      <div class="card-body">
        <h3 class="card-title">{{offer.hotelName}}</h3>
        <p class="card-text">Location: {{offer.city}}, {{offer.country}}</p>
        <p class="card-text">Room capacity: {{offer.roomCapacity}}</p>
        <p class="card-text">Price: {{offer.price}}</p>
      </div>
    </div>
  </div>
</div>
